.DS_Store
.idea/
ccp-cw-1a/out/
ccp-cw-1b-channel/out/
ccp-cw-1b-sharing/out/
Ccp-cw-2/out/
Ccp-cw-3/out/
ccp-cw-1b/gameoflife
ccp-cw-1b/gameoflife
*.pgm
ccp-cw-2a/gameoflife
ccp-cw-2a/gameoflife
ccp-cw-2a/out/512x512x10000000000.pgm
